body {
    margin: 0;
}

.hide {
    display: none;
}

.entry {
    margin: 2em;
    padding: 1em;
    border-radius: 5px;
    border: 1px solid rgba(100, 100, 100, 0.5);
    background-color: rgba(0, 0, 0, 0.01);
}

.button {
    padding: 1em;
    border: 1px solid black;
    border-radius: 5px;
}

.red {
    background-color: #e74c3ca0;
}

.green {
    background-color: #2ecc70a0;    
}

.yellow {
    background-color: #f1c40fa0;    
}

.date {
    color: gray;
}

.controls {
    padding: 1em;
    margin: 1em;
}

.controls > input {
    padding: 1em;
}

header {
    padding: 1em;
    background-color: #3498dba0;
    border-bottom: 1px solid black;
}