{% extends 'base.html' %}

{% block content %}
    <form class="controls" action="{{ url_for('todo.new') }}" method="post">
        <input type="text" name="body" required>
        <input class="button green" type="submit" value="Add">
    </form>

    <div class="entries">
        {% for e in entries %}
            {% if e.is_done %}
                <div class="entry inactive">
            {% else %}
                <div class="entry">
            {% endif %}
                <p class="body">{{ e.body }}
                    {% if not e.is_done %}
                    (<a href="{{ url_for('todo.edit', id=e.id) }}">Edit</a>)
                    {% endif %}
                </p>
                <p class="date">{{ e.date_created }}</p>
                <form action="{{ url_for('todo.done', id=e.id) }}" method="post">
                    {% if e.is_done %}
                        <input class="button yellow" type="submit" value="Undo">
                    {% else %}
                        <input class="button green" type="submit" value="Done">
                    {% endif %}
                </form>
            </div>
        {% endfor %}
    </div>
{% endblock %}